* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

body {
  position: relative;
}

.header-container {
  display: flex;
  height: 28px;
  margin: 1em 1em 1em 0;
}

.left-header {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 1.3em;
}

.right-header {
  width: 50vw;
  display: flex;
  justify-content: flex-end;
  padding-right: .7em;

  li {
    padding-left: .6em;
  }
}

.content-container {
  height: 180px;
}

.hero-container {
  display: flex;
  width: vw;
  justify-content: center;
}

.hero-img {
  margin-top: 102px;
  width: 208px;
}

.form-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  height: 140px;
  width: 100vw;
  justify-content: center;
  margin-top: 1.5em;
}

#input-area {
  width: 450px;
  height: 36px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 20px;
  background-image: url("../images/search-icon.png");
  background-size: 12px;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 0 3.4em;
  font-size: 12px;
  
}

.btn-container {
  width: 450px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

#img-menu {
  width: 12px;
}

#img-round {
  justify-content: center;
  width: 24px;
  border-radius: 50%;
}

.form-btn {
  box-sizing: border-box;
  height: 28px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 0 4px;
  margin-top: 13px;
  background-color: #f8f9fa;
  padding: 0;
  color: #3c4043;
  
  &:hover {
    cursor: pointer;
    border: 1px solid #dadce0;
    border-bottom: 2px solid #dadce0;
  }
}

#search-btn {
  min-width: 100px;
  padding-right: 1px;
}

#lucky-btn {
  min-width: 110px;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #f2f2f2;
  width: 100vw;
  height: 31px;
  border-top: 1px solid #dadce0;
  display: flex;
  flex-direction: row;
}

.left-foot {
  flex: 33%;
  height: inherit;
  display: flex;
  
  &:first-child {
    padding-left: 11px;
  }

  li {
    margin: 0 11px;
  }

  a {
    align-self: center;
    font-size: inherit;
    color: #70757a;
  }
}

.middle-foot {
  flex: 33%;
  display: flex;
  justify-content: center;
}

.right-foot {
  flex: 33%;
  display: flex;
  color: #70757a;
  flex-direction: column;
  justify-content: center;

  ul {
    flex-direction: row;
    justify-content: right;
  }

  li {
    margin-right: 20px;
  }

  a {
    font-size: inherit;
    color: #70757a;
  }
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
  margin: 0 6px;
}

footer {
  align-self: center;
  font-size: 11px;
  color: #70757a;
}

.cn-leaf {
  height: 11px;
  width: 10px;
  padding: 0 5px;
  margin-left: -36px;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  
  &:hover {
    text-decoration: underline;
  }
}